<!DOCTYPE html>
<html>
<head>
  <title>Data hub</title>
  <%= stylesheet_link_tag    "data_hub/application", media: "all" %>
  <%= javascript_include_tag "data_hub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
